body {
    margin: 0;
    padding: 0;
}

img {
    margin: 10px;
}

#motd {
    color: #fff;
}

blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
    content: open-quote;
}

blockquote:after {
    content: close-quote;
}

#motd .author:before {
    content: '~ ';
}

#motd .author:after {
    content: ' ~';
}

@keyframes fadein {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.booze {
    display: none;
    text-transform: uppercase;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

.booze.current {
    display: inline-block;
}

.title {
    font-size: 40px;
    font-family: 'Carter One', serif;
    color: #fff;
    text-shadow: 0 -1px 4px white, 0 -2px 10px yellow, 0 -10px 20px #ff8000, 0 -18px 40px red;
}

.pg {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.fsvd {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.hvd {
    display: none;
}

.imgcat {
    border-radius: 15px;
}

.imgcatz {
    border-radius: 95px;
    width: auto;
    height: 200px;
}

.imgbx {
}

.imgbx1 {
    position: absolute;
    left: 0;
    top: 0;
}

.imgbx2 {
    position: absolute;
    top: 0;
    right: 0;
}

.imgbx3 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.imgbx4 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.container {
    margin: auto;
    position: relative;
    top: 10px;
}

.clock-container {
    display: inline-block
}

body .flip-clock-wrapper ul li a div div.inn, body .flip-clock-small-wrapper ul li a div div.inn {
    color: #CCCCCC;
    background-color: #333333;
}

body .flip-clock-dot, body .flip-clock-small-wrapper .flip-clock-dot {
    background: #323434;
}

body .flip-clock-wrapper .flip-clock-meridium a, body .flip-clock-small-wrapper .flip-clock-meridium a {
    color: #323434;
}